.board-outer {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 120vmin;
  animation: board 1s ease forwards;
  position: absolute;
  top: 0;
  left: 0;

  .board {
    display: grid;
    place-content: center;
    font-size: calc(6vmin);
    height: 60vmin;
    width: 60vmin;
    background: #282a36;
    border: 1px solid white;
    transform-style: preserve-3d;
    transition: 1s ease;
    transform: rotateX(50deg) rotateY(0deg);
    box-shadow: 0 0 10vmin #000;

    button {
      cursor: pointer;
      display: none;
    }

    .cell {
      border: 1px solid white;
      display: grid;
      place-content: center;
    }
  }

  .sideBar {
    background-color: lightblue;
    color: black;
    display: none;

    .scoreBoard {
      display: flex;
      justify-content: space-evenly;
      width: 20vw;
      height: 20vh;
      //   #score , #highScore{
      //   }
    }

    .resetBtn {
      background-color: #333;
      width: 10vw;
      color: white;
      height: 10vh;
      border-radius: 1.3vmin;
    }
  }
}