.endCredits {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //overflow: hidden;
  video {
    transform: translate(0, -9%);
    width: 100%;
    height: 100%;
  }
}
