@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //overflow: hidden;
  //background: #1f222d;
}

.howToContent {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howToTitle {
  font-weight: bold;
  font-size: 4vh;
  font-family: "Source Code Pro", monospace;
  color: #81a1c1;
  padding-bottom: 1vh;
}

.swipeHowTo {
  height: 70vh;
  width: 38vh;
  border-radius: 1vh;
}

.pressHowTo {
  height: 54vh;
  width: 96vh;
  border-radius: 1vh;
}

.nextBtn {
  font-weight: bold;
  font-size: 2vh;
  font-family: "Source Code Pro", monospace;
  background: #2e3440;
  color: #81a1c1;
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
}

.nextBtn:hover {
  font-size: 2.2vh;
  padding: 2vh;
  border-radius: 1.8vh;
}

a {
  text-decoration: none;
}
